body{
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 430px;
  padding-top: 8%;
}

#banner{ 
  width: 26%; 
  margin-top: -6%; 
  margin-left: 10%; 
  position: absolute; 
  z-index: 1; 
}

.curve {
  position: absolute;
  height: 130px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  z-index: 1;
  background-color: #f35d92;
}

.curve.ativa::before {
  background-color: #880e4f;
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(-4%, 40%);
  background-color: white;
  z-index: -1;
}

.card{
  border: 4px white solid;
}

.card-title{
  margin-top: -6%;
}

.card-action{
  text-align: center;
}

#RedesIcon{
  width: 9%;
}

.marcadores-ul {
  display: block !important;
  list-style-type: disc !important;
  padding-left: 20px !important;
  margin: 10px 0;
}

@media (min-width: 1390px){
  #banner{
    width: 21%;
  }
}

@media (min-width: 1150px) and (max-width: 1221px) {
  #banner{
    width: 30%; 
    margin-top: -6%; 
    margin-left: 2%; 
  }
}

@media (min-width: 993px) and (max-width: 1150px) {
  #banner{
    width: 32%; 
    margin-top: -6%; 
    margin-left: 2%; 
  }
}

@media (max-width: 992px){
  #Logo{
    text-align: center;
    width: 380px;
  }
  #banner{
    width: 0px;
  }
}

@media (max-width: 550px){
  #Titulo{
    margin-top: 15%;
  }
}

.avaliacao-card {
  display: flex;
  flex-direction: column;   
  align-items: flex-start; 
  padding: 15px;
  min-height: 200px; 
  box-sizing: border-box;
}

.avaliacao-card span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.foto-usuario img {
  width: 100%;
}