body{
  overflow-x: hidden;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 430px;
  padding-top: 8%;
}

#banner{ 
  width: 26%; 
  margin-top: -6%; 
  margin-left: 10%; 
  position: absolute; 
  z-index: 1; 
}

#bannerRodape{
  text-align: center;
}

.curve {
  position: absolute;
  height: 130px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  z-index: 1;
  background-color: #f35d92;
}

.curve.ativa::before {
  background-color: #880e4f;
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(-4%, 40%);
  background-color: white;
  z-index: -1;
}

/* Card dos animais para adotar */
.card {
  border: 10px white solid !important;
  border-radius: 7px !important;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-color 0.3s ease !important;
}

/* Animação de zoom, sombra e cor da borda*/
.card:hover {
  transform: scale(1.05) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  cursor: pointer!important;
  border-color: #eef06c!important;
}

.card-title{
  margin-top: -6%;
}

.card-action{
  text-align: center;
}

#RedesIcon{
  width: 9%;
}

.marcadores-ul {
  display: block !important;
  list-style-type: disc !important;
  padding-left: 20px !important;
  margin: 10px 0;
}

@media (min-width: 2800px){
  #banner{
    width: 10%;
    margin-left: 7%;
  }
  #Titulo{
    margin-top: -10%;
  }
}

@media (min-width: 2300px) and (max-width: 2800px){
  #banner{
    width: 14%;
  }
  #Titulo{
    margin-top: -6%;
  }
}

@media (min-width: 1840px) and (max-width: 2300px){
  #banner{
    width: 17%;
  }
}

@media (min-width: 1390px) and (max-width: 1840px){
  #banner{
    width: 21%;
  }
}

@media (min-width: 1150px) and (max-width: 1221px) {
  #banner{
    width: 30%; 
    margin-top: -6%; 
    margin-left: 2%; 
  }
}

@media (min-width: 993px) and (max-width: 1150px) {
  #banner{
    width: 32%; 
    margin-top: -6%; 
    margin-left: 2%; 
  }
}

@media (max-width: 992px){
  #Logo{
    text-align: center;
    width: 380px;
  }
  #banner, #bannerRodape{
    width: 0px;
  }
}

@media (max-width: 550px){
  #Titulo{
    margin-top: 15%;
  }
}

.avaliacao-card {
  display: flex;
  flex-direction: column;   
  align-items: flex-start; 
  padding: 15px;
  min-height: 200px; 
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out !important;
}

.avaliacao-card:hover {
  transform: scale(1.05) !important;
  cursor: pointer !important;
}

.avaliacao-card span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hidden-card {
  opacity: 0 !important; 
  transform: translateY(20px)!important; 
  transition: opacity 0.7s ease-out, transform 0.7s ease-out!important;
}

.show-card {
  opacity: 1!important;
  transform: translateY(0)!important;
}

.col:nth-child(2) .hidden-card, 
.col:nth-child(2).hidden-card {
  transition-delay: 0.3s !important;
}

.col:nth-child(3) .hidden-card,
.col:nth-child(3).hidden-card {
  transition-delay: 0.6s !important;
}

.card-zoom {
  transition: transform 0.3s ease-in-out !important;
}

.card-zoom:hover {
  transform: scale(1.05) !important;
  cursor: pointer !important;
}

.foto-usuario img {
  width: 100%;

}

